.ses-logs {
    display: block;
    padding: 15px 20px 12px 22px;
    margin: 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #f5d67c;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #001628;
    border: 1px solid #001628;
    border-radius: 8px;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    white-space: normal;
    max-height: 500px;
    overflow-y: scroll;
    font-family: monospace;
}